#banner {
    background-image: url("../assets/comments.jpg");
    height: 27vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    /* margin-top: 50px; */
  }
  
  .banner-text {
    position: absolute;
    font-weight: 800;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }