* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quattrocento', serif;
  /* font-family: 'Raleway',sans-serif; */
  line-height: 1.7;
  position: relative;
  /* background: #292d33; */
}


/* body,h1 {font-family: "Raleway", sans-serif} */
/* body, html {height: 100vh} */
header {
  background-image: 
  linear-gradient(to right bottom,
      rgba(31, 30, 30, 0.8),
      rgba(8, 8, 8, 0.8)), 
      url('../assets/hero_1.jpg');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.logo_image {
  height: 40px !important;
}

.vgg_green {
  background-color: #42b087 !important;
}

.text-vgg_green {
  color: #42b087 !important;
}



