header {
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100vw;
  position: relative;

} 

/* Navbar */
/* #nav {
  position: absolute;
  display: block;
  top: 2.5em;
  left: 0;
  width: 100%;
  text-align: center;
} */

#nav>ul {
  display: inline-block;
  /* border-radius: 0.35em; */
  box-shadow: inset 1px 1px 2px 2px rgba(255, 255, 255, 0.5);
  /* list-style: none; */
  padding: 0 1.5em 0 1.5em;
}

#nav>ul>li {
  display: inline-block;
  /* text-align: center; */
  padding: 0 1.5em 0 1.5em;
  font-weight: 500;
}

#nav > ul > li > ul {
  display: none;
}

#nav > ul > li > a, #nav > ul > li > span {
  display: block;
  color: #eee;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  height: 4em;
  line-height: 4em;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  outline: 0;
}

#nav > ul > li:hover > a {
  color: #48b087;
}

#nav > ul > li.active > a, #nav > ul > li.active > span {
  color: #fff;
} 

.section-hero {
  height: auto;
  min-height: auto;
  padding-top: 6em;
  padding-bottom: 3em;
}

.verified-icon {
  width: 33%;

}

/* button:hover{
	background-color: #38a;
} */

.anchor-links {
  font-weight: 600;
}

.anchor-links:hover {
  text-decoration: none;
}

#contact {
  background-color: #013444;
}

.cubicle{
  background:linear-gradient(72deg,rgba(70, 130, 180, 0.6),rgba(1, 68, 51, 0.8)),url('../assets/cubicle.jpg');
  background-size:cover;
  height: 400px;

  /* background-image: linear-gradient(72deg, red, #f06d06); */
}

